<!-- base_generic.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiment Hub</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <header style="height: 10%; background-color: #f8f9fa;">
        <nav>
            <!-- Navigation menu -->
            <ul>
                <li><a href="{% url 'experiments:home' %}">Home</a></li>
                <li><a href="{% url 'experiments:about' %}">About</a></li>
                <li><a href="{% url 'experiments:submit_new_entry' %}">New Entry</a></li>
            </ul>
        </nav>
    </header>


    <main class="main-content" style="min-height: 80%;">
        {% block content %}
        <!-- main content block -->

        {% endblock content %}
    </main>

    <footer style="height: 10%; background-color: #f8f9fa;">
        <img src="{% static 'download.png' %}" alt="FH Dortmund Logo">
        <p>Disclaimer: The content on this site is for informational purposes only and does not reflect the official stance of FH Dortmund.</p>
    </footer>

</body>
</html>
